// window
$large: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$min_w: 330px;


// colors
$white: #fff;
$black: #222;
$yellow: #EFCC1E;
$gray: #838383;
$red: #D30812;
$light-lavander: #BC74EF;
$lavander: #9C27EF;

// theme 
$mainBG: $white;
$mainText: $black;
$mainDecor: $light-lavander;
$secondary: $gray;
$danger: $red;